@inherits LayoutComponentBase
@inject NavigationManager NavManager

@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />


<div class="page">
    @if (!NavManager.Uri.Contains("login"))
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

        


